.advacheck {
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 3px 7px;
    font-size: 80%;
    line-height: 110%;
}

.advacheck-plagiarismresult {
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 3px 7px;
    font-size: 80%;
    line-height: 110%;
}

.advacheck-green {
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 3px 7px;
    font-size: 80%;
    line-height: 110%;
    background-color: #dff0d8;
    border-color: #468847;
}

.advacheck-blue {
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 3px 7px;
    font-size: 80%;
    line-height: 110%;
    background-color: #d9edf7;
    border-color: #b0b0b0;
}

.advacheck-red {
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 3px 7px;
    font-size: 80%;
    line-height: 110%;
    background-color: #f2dede;
    border-color: #b94a48;
}

.advacheck-gray {
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 3px 7px;
    font-size: 80%;
    line-height: 110%;
    background-color: #e5e5e5;
    border-color: #b0b0b0;
}

.advacheck-loader {
    width: 20px;
    display: inline;
}

.advacheck-hidden {
    display: none;
}

.advacheck-report {
    display: none;
}

.advacheck-data {
    display: none;
}

.advacheck-hide {
    display: none;
}

.advacheck_help {
    display: none;
}

.advacheck-suspiciousoff {
    display: none;
}

.advacheck-suspiciouson {
    display: inline-block;
}